.PorCartBody{
    height: 300px;
    width: 180px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    margin: 10px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.PorCartLogo{
    height: 50px;
    width: 50px;
}
.PorCartText-1{
    font-size: 20px;
}
.PorCartText-2{
    opacity: .6;
    margin-top: 0px;
    text-align: center;
}
.PorCartButton{
    background-color: rgb(116, 32, 250);
}