.homeBody {
  height: auto;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.home-box1 {
  flex: 1;
  height: calc(100vh - 70px);
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.home-box1D{
  width: 85%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 40px;
}
.home-box1D-line{
  height: 1.5px;
  width: 150px;
  opacity: .6;
  background-color: rgb(116, 32, 250);
}
.home-box1D-Text{
  opacity: .6;
  margin-left: 20px;
  text-align: justify;
}
.home-box2 {
  flex: 1;
  height: calc(100vh - 70px);
}
.home-box2-1-MainText{
  margin-top: 0px;
  font-size: 30px;
  color: rgb(116, 32, 250);
  margin-bottom: 0px;
  font-family: 'Arial Narrow Bold';
}
.home-box1-div {
  height: 310px;
  width: 85%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: rgb(116, 32, 250);
  color: rgb(255, 255, 255);
}
.home-box2-1 {
  height: auto;
  width: 100%;
}

.home-sliding-box-container {
  height: auto;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.home-box {
  width: 95%;
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px;
  transition: transform 15ms ease-in-out;
  display: none;
}

.home-box.active {
  display: block;
  width: 95%;
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px;
}

.HomeSlid-box2{
  width: 90%;
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border-radius: 8px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
.HomeSlid-box2-img{
  height: 100px;
  width: 200px;
  border-radius: 20px;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
}
.HomeSlid-box2-Text1{
  font-size: 20px;
}
.HomeSlid-box2-Text{
  opacity: .6;
  text-align: center;
}
.HomeSlid-box3{
  height: 260px;
  width: 15px;
  background-color: rgb(116, 32, 250);
  border-radius: 3px;
}
.home-active-button {
  background-color: rgb(116, 32, 250);
  height: 10px;
  width: 10px;
  border-radius: 5px;
  margin-left: 5px;
  border: none;
  border: 0.5px solid rgb(116, 32, 250);
}
.home-active-button:hover {
  border: 0.5px solid red;
}

.home-deactive-button {
  background-color: rgb(255, 255, 255);
  height: 10px;
  width: 10px;
  margin-left: 5px;
  border-radius: 5px;
  border: 0.5px solid rgb(116, 32, 250);
}
.home-deactive-button:hover {
  border: 0.5px solid red;
}
.HomeSlid-box2-DText{
  opacity: .6;
  text-align: center;
  margin-top: 0px;
}

@media only screen and (max-width: 1000px) {
  .homeBody {
    flex-direction: column;
  }
  .home-box1 {
    height: auto;
    width: 100%;
  }
  .home-box2 {
    height: auto;
    width: 100%;
  }
  .home-box1-div {
    height: 200px;
    width: 100%;
  }
  .home-box1D{
    height: 300px;
    width: 100%;
    margin-top: -20px;
  }
  .home-box1D-Text{
    margin-right: 20px;
  }
}
