.homeBody {
  height: auto;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.home-box1 {
  flex: 1;
  height: calc(100vh - 70px);
  display: flex;
  align-items: flex-start;
}
.home-box2 {
  flex: 1;
  height: calc(100vh - 70px);
}
.home-box1-div {
  height: 350px;
  width: 85%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: rgb(116, 32, 250);
  color: rgb(255, 255, 255);
}
.home-box2-1{
  height: 400px;
}




.sliding-box-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.box {
  width: 200px;
  height: 200px;
  margin: 10px;
  background-color: lightblue;
  transition: transform 15.0ms ease-in-out;
  display: none;
}

.box.active {
  display: block;
}

.active-button {
  background-color: red;
  color: white;
}

@media only screen and (max-width: 1000px) {
  .homeBody {
    flex-direction: column;
  }
  .home-box1 {
    height: auto;
    width: 100%;
  }
  .home-box2 {
    height: auto;
    width: 100%;
  }
  .home-box1-div {
    height: 200px;
    width: 100%;
    
  }
}
