.footerBody{
    height: 75px;
    width: 100%;
    background-color: rgb(116, 32, 250);
    display: flex;
    justify-content: center;
    align-items: center;
}
.footerBox1{
    flex: 1;
    color: #ffffff;
}
.footerBox2{
    flex: 3;
    color: #ffffff;
}
.footerBox3{
    flex: 1;
}
.footerIcon{
    margin-left: 10px;
    color: #ffffff;
    font-size: 20px;
}

@media only screen and (max-width: 1000px) {
    .footerBody{
        display: none;
    }
  }